<div class="col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="btn btn-default navbar-btn" href="#/dashboard/groups/list">
        Atr&aacute;s
      </a>

      <button class="btn btn-default navbar-btn pull-right" ng-click="requestMembership(group)" ng-if="user.identity == user_identities.user && group.owner_id != user.id">
        {{request_membership_button}}
      </button>

      <button class="btn btn-default navbar-btn pull-right" ng-click="score(group)" ng-if="user.identity == user_identities.teacher">
        {{score_button}}
      </button>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left"><i class="fa fa-info-circle"></i></div>
        <div class=title>{{group.name}}</div>
        <div class=comment>Nombre del grupo</div>
      </rd-widget-body>
    </rd-widget>
  </div>

  <div class="col-lg-6 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left"><i class="fa fa-user"></i></div>
        <div class=title>{{group.user_name}}</div>
        <div class=comment>Due&ntilde;o del grupo</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left"><i class="fa fa-sitemap"></i></div>
        <div class=title>{{group.member_count}}</div>
        <div class=comment>N&uacute;mero de miembros</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12" ng-repeat="member in group.members" ng-if="group.owner_id == user.id || member.status != status.request">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left ng-scope"><i class="fa fa-users"></i></div>
        <div class=title>{{member.name}} {{member.last_names}}</div>
        <div class=comment>Miembro</div>
        <div class="btn btn-default" ng-click="acceptMembership(member)" ng-if="member.status == status.request">
          Aceptar como miembro
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
