<div class=row>
  <div class=col-lg-6>
    <rd-widget>
      <rd-widget-header icon="fa-floppy-o" title="Profesores"><a href="#/dashboard/courses/list">Atr&aacute;s</a></rd-widget-header>
      <form role="form" ng-submit="save(course)">
        <rd-widget-body classes="no-padding">
          <div class="panel-body">
            <div class="form-group">
              <label>Clave</label>
              <input type="text" class="form-control" placeholder="Clave de la materia" ng-model="course.key">
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre de la materia" ng-model="course.name">
              <label>Semestre</label>
              <input type="text" class="form-control" placeholder="Semestre de la materia" ng-model="course.semester">
              <div class="errors" ng-show="errors.name">
                <p class="error" ng-repeat="error in errors.name">{{error}}</p>
              </div>
            </div>
          </div>
        </rd-widget-body>
        <rd-widget-footer>
          <button type="submit" class="btn btn-default">Guardar</button>
        </rd-widget-footer>
      </form>
    </rd-widget>
  </div>
</div>