// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-hover {
  tr:hover {
    cursor: pointer;
  }
}

.padding-top-light {
  padding-top: 10px;
}

.padding-top-medium {
  padding-top: 15px;
}

.padding-top-strong {
  padding-top: 25px;
}

.padding-bottom-light {
  padding-bottom: 10px;
}

.padding-bottom-medium {
  padding-bottom: 15px;
}

.padding-bottom-strong {
  padding-bottom: 25px;
}

.padding-left-light {
  padding-left: 10px;
}

.padding-left-medium {
  padding-left: 15px;
}

.padding-left-strong {
  padding-left: 25px;
}

.padding-right-light {
  padding-right: 10px;
}

.padding-right-medium {
  padding-right: 15px;
}

.padding-right-strong {
  padding-right: 25px;
}