<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        Dashboard
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-title">
      <span>{{user.name}} {{user.last_names}}</span>
    </li>
    <li class="sidebar-list" ng-repeat="item in items">
      <a href="#/dashboard/{{item.link}}">{{ item.label }}<span class="menu-icon fa {{item.icon }} %>"></span></a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-12">
      <a href="http://bemeer.com/" target="_blank">
        Desarrollado por Bemeer
      </a>
    </div>
  </div>
</div>